body {
    background-image: url("media/mountains-190055.jpg");
    text-align: center;
}

h1 {
    color: white;
    font-size: 60px;
}

/* Navigation -------------- */

#navMenu a {
    color: white;
    background: grey;
    font-size: 24px;
    padding: 5px;
}

#navMenu {
    padding: 20px;
    margin-right: 80%; /* needs work adjusting size */
    text-align: center;
    background: pink; 
    position: fixed;
    left: 5px;
    right: 5px;
    border-radius: 50px;
}

/*
.family {
    background: blue;
    color: white;
    margin: 0 25% 0 25%;
    padding: 25px 0 25px 0;
    border-radius: 50px;
}
*/
.family {
    color: white;
}
#family-picture {
    width: 50%;
    length: auto;
    border-radius: 100px;
}