
/* -- Border content --
#topborder {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: green;
    height: 4%;
}

#rightborder {
    position: absolute;
    top: 0;
    right: 0;
    left: 96%;
    background: green;
    height: 100%;
}

#leftborder {
    position: absolute;
    top: 0;
    right: 96%;
    left: 0;
    background: green;
    height: 100%;
}

#bottomborder {
    position: absolute;
    top: 96%;
    right: 0;
    left: 0;
    background: green;
    height: 4%;
}
*/

/* Navigation -------------- */
header {
    background-color: bisque;
    border: 3px solid black;
}

.nav {
    list-style-type: none; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav a {
    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    text-decoration: none;
    border-radius: 25px;
}

.nav a:hover {
    color: black;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

h1 {
    font-size: 60px;
    color: black;
}

h2 {
    margin-top: 50px;
}

/* 
#navMenu {
    padding: 20px;
    margin-right: 80%;
    text-align: center;
    background: pink; 
    position: fixed;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50px;
}

#navMenu a {
    color: white;
    background: grey;
    font-size: 24px;
    padding: 5px;
}
*/
/* Main body section -----------*/
body {
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.homePicture {
    border-radius: 200px;
    width: 50%;
    margin-top: 5%;
}

#family {
    display: none;
    flex-direction: column;
    align-items: center;
}

.family-picture {
    width: 50%;
    length: auto;
    border-radius: 100px;
    margin: 5% 0 5% 0;
}

#professional {
    display: none;
    flex-direction: column;
    align-items: center;
}

#professional li {
    text-align: left;
}

#music {
    display: none;
    flex-direction: column;
    align-items: center;
}
#contact {
    display: none;
    flex-direction: column;
    align-items: center;
}

#contact h2 {
    font-size: 70px;
    margin-bottom: 0px;
}

#contact h3 {
    font-size: 30px;
}

#contact ul {
    list-style-type: none;
}

.contactList1 {
    font-size: 50px;
}

.contactList2 {
    display: flex;
    font-size: 30px;
    color: black;
}

.contactList2 li {
    margin: 30px;
}

.contactList2 a {
    text-decoration: none;
    color: black;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}