body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    color: white;
}

#topborder {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: green;
    height: 4%;
}

/* other borders (needs work to not cutt-off content-----
#rightborder {
    position: absolute;
    top: 0;
    right: 0;
    left: 96%;
    background: green;
    height: 100%;
}

#leftborder {
    position: absolute;
    top: 0;
    right: 96%;
    left: 0;
    background: green;
    height: 100%;
}

#bottomborder {
    position: absolute;
    top: 96%;
    right: 0;
    left: 0;
    background: green;
    height: 4%;
}
*/


/* Navigation -------------- */
.nav {
    list-style-type: none; 
}

.nav a {
    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    text-decoration: none;
    border-radius: 25px;
}

.nav a:hover {
    color: black;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

h1 {
    font-size: 60px;
    color: white;
    margin-bottom: 100px;
    text-align: center;
}

h2 {
    margin-top: 50px;
}

#navMenu {
    padding: 20px;
    margin-right: 80%; /* needs work adjusting size */
    text-align: center;
    background: pink; 
    position: fixed;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50px;
}

#navMenu a {
    color: white;
    background: grey;
    font-size: 24px;
    padding: 5px;
}

/* Main body section -----------*/

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.homePicture {
    border-radius: 200px;
    width: 50%;
    margin-top: 5%;
}

#family {
    display: none;
    flex-direction: column;
    align-items: center;
}

.family-picture {
    width: 50%;
    length: auto;
    border-radius: 100px;
    margin: 5% 0 5% 0;
}

#professional {
    display: none;
    flex-direction: column;
    align-items: center;
}

#professional li {
    text-align: left;
}

#music {
    display: none;
    flex-direction: column;
    align-items: center;
}
#contact {
    display: none;
    flex-direction: column;
    align-items: center;
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}